<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="subSonicConnectionString" connectionString="Data Source=.\sql2k16; Initial Catalog=QLPK_BSLUU; User ID=sa;Password=123456;" providerName="System.Data.SqlClient"/>-->
    <add name="subSonicConnectionString" connectionString="Data Source=192.168.10.2; Initial Catalog=HIS; User ID=sa;Password=Vms@123456;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <SubSonicService defaultProvider="ORM">
    <providers>
      <clear/>
      <add name="ORM" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="subSonicConnectionString" generatedNamespace="VMS.HIS.DAL"/>
    </providers>
  </SubSonicService>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
