<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="TenBenhVien" value="BỆNH VIỆN SÀI GÒN" />
    <add key="TenKhoaKhamBenh" value="KHOA KHÁM BỆNH" />
    <add key="Tieude_goiloa" value="Hệ thống gọi loa khoa KCB" />
    <add key="IsHienThiMedia" value="true" />
    <add key="MaQuay" value="QUAY_1" />
    <add key="TenQuay" value="Quầy tiếp đón số 1" />
    <add key="FontSize" value="40" />
    <add key="PrinterName" value="" />
    <add key="PathMedia" value="UocMoNgotNgao.MP4" />
    <add key="PathReport" value="CRPT_SOKHAM.rpt" />
    <add key="LeasedLine" value="http://192.168.7.163:8019/Services/HospitalFee/Execute" />
    <add key="TTSURL" value="http://192.168.10.2:9005/TTS.svc" />
    <add key="loai_qms" value="1" /><!--0=QMS tiep don;1= QMS phong kham;2= QMS phong chuc nang;3=QMS khoa CDHA;4=QMS quay thuoc;5=QMS quay thanh toan-->
    <add key="ma_loa" value="1" />
    <add key="do_tre" value="1" />
    <add key="thoigian_cho" value="500" />
    <add key="thoigian_refresh" value="3000" />
    <add key="thoigian_goi_googleTTS" value="5000" />
    <add key="MaBenhVien" value="BVSG" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="subSonicConnectionString" connectionString="Data Source=192.168.10.2; Initial Catalog=QMS; User ID=sa;Password=Vms@123456;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITTS" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:5525/TTS.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ITTS" contract="TTS.ITTS"
        name="BasicHttpBinding_ITTS" />
    </client>
  </system.serviceModel>
<SubSonicService defaultProvider="ORM">
    <providers>
      <clear/>
      <add name="ORM" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="subSonicConnectionString" generatedNamespace="VMS.QMS.DAL"/>
    </providers>
  </SubSonicService>
</configuration>