<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SubSonicService"
             type="SubSonic.SubSonicSection, SubSonic"
             requirePermission="false"/>
  </configSections>

  <connectionStrings>
    <add name="subSonicConnectionString"
         connectionString="Data Source=192.168.10.2; Initial Catalog=QMS; User ID=sa;Password=Vms@123456;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <SubSonicService defaultProvider="ORM">
    <providers>
      <clear/>
      <add name="ORM" type="SubSonic.SqlDataProvider, SubSonic"
           connectionStringName="subSonicConnectionString"
           generatedNamespace="VMS.QMS.DAL"
           />
    </providers>
  </SubSonicService>
</configuration>